/* ================== GLOBAL / RESET ================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================== MAIN ================== */
.main{
  text-align: center;
  font-family: sans-serif;
}

.article{
  margin: 0;
  padding: 0 20%;
}

.footer{
  font-size: 1rem;
  background-color: rgb(0, 0, 22);
  color: white;
  margin: 0;
  padding:4.5rem 0;
  width: 100%;
}

.footer__ico{
  font-size: 0.75rem;
  text-align: center;
  padding-top: 1.5rem;
}

.enlace{
  color: rgb(236, 90, 53);
  text-decoration: none;
}

/* ==================   PREMIOS   =================== */
.premios__titulo{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.premios__fecha{
  font-size: 1.25rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.premios__ordenacion{
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.premios__referencia{
  padding-bottom: 5rem;
}

/* ==================   LISTA PREMIOS   =================== */

.lista{
  margin: 0;
  padding: 0 35%;
}

.lista__idioma{
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color:rgb(123, 124, 124);
}

.lista__idioma:last-of-type{
  padding-bottom: 2.5rem;
}

.lista__idioma::before{
  content: url(../img/idioma.png);
  padding-right: 0.25rem;
}

.lista__idioma-autores{
  list-style-type: square;
  padding-left: 4rem;
}

.lista__idioma-autor{
  font-size: 1.25rem;
  font-weight: 100;
  padding-bottom: 0.85rem;
}

.lista__idioma-autor:first-of-type{
  padding-top: 0.85rem;
}

.lista__idioma-autor::marker{
  color: black;
  font-size: 0.8em;
}

.lista__idioma--fecha{
  font-size: 1.6rem;
  font-weight: 700;
  color: grey;
}

.lista__idioma--fecha::after {
  content: ":";
  color: black;
  font-weight: 100;
  margin: 0;
}

/* ================== HEADER MENÚ ================== */
.menu__letras{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.125rem;
  color: rgb(236, 90, 53);
  padding: 0.5em 0 0.5em 0;
}

.menu__item{
  padding: 0.35em 0 0.35em 0;
  font-size: 1.1rem;
}

.menu__enlace{
  text-decoration: none;
  color: black;
}

.menu__enlace--actual{
  font-weight: bold;
  font-style: italic;
}

/* ================== INTRODUCCIÓN ================== */
.introduccion__titulo{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.introduccion__blockquote-inicio{
  margin: 0;
  padding: 0 10rem 0 10rem;
  font-size: 1.4rem;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.introduccion__autor{
  font-size: 1.6rem;
  margin: 0;
}

.introduccion__fecha{
  margin: 0;
  padding-top: 2em;
  padding-bottom: 4em;
  font-size: 0.75em;
  text-transform: uppercase;
}

.introduccion__texto-imagen{
  font-size: 0.6em;
  padding-top: 1em;
  padding-bottom: 3em;
}

.introduccion__bloque-texto{
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 28rem;
}

/* ================== CONTENIDO ================== */
.contenido__titulo{
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contenido__texto{
  text-align: left;
  font-size: 1rem;
  line-height: 1.75em;
}

.contenido__texto-parrafo{
  margin-bottom: 1em;
}

.contenido__cite{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenido__blockquote{
  font-family: serif;
  font-size: 1.5rem;
  margin: 0 4rem;
  text-align: left;
  line-height: 1.5em;
  padding-bottom: 1rem;
}

.contenido__video{
  display: block;
  margin: 2rem 0 0 0;
  height: fit-content;
}

.contenido__video-caption{
  padding-top: 2rem;
}

.contenido__video-cite{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.75rem;
}

.contenido__video-cite--fecha{
  font-style: normal;
  font-family: sans-serif;
}

.contenido__video-frame{
  width: 33rem;
  height: 20rem;
}

/* ================== DESENLACE ================== */
.desenlace__titulo{
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.desenlace__texto{
  text-align: left;
  font-size: 1rem;
  line-height: 1.75em;
}

.desenlace__texto-parrafo{
  margin-bottom: 1em;
}

.desenlace__cite{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.desenlace__blockquote{
  font-family: serif;
  font-size: 1.4rem;
  margin: 0 4rem;
  text-align: left;
  line-height: 1.5em;
  padding-bottom: 1rem;
}

.desenlace__cite-blockquote{
  font-style: italic;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  margin: 0 4rem 1.3rem 4rem;
}

.desenlace__autor{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  text-align: left;
  margin: 3rem 0 5rem 0;
}
